<div class="home" [ngsRevealSet]="{ reset:false }" [ngsSelector]="'.item'">
  <div id="point0"></div>
  <div class="head">

    <slideshow #slideshow
               [imageUrls]="imageUrls"
               [height]="height"
               [minHeight]="minHeight"
               [arrowSize]="arrowSize"
               [showArrows]="showArrows"
               [disableSwiping]="disableSwiping"
               [autoPlay]="autoPlay"
               [stopAutoPlayOnSlide]="stopAutoPlayOnSlide"
               [debug]="debug"
               [backgroundSize]="backgroundSize"
               [backgroundPosition]="backgroundPosition"
               [backgroundRepeat]="backgroundRepeat"
               [showDots]="showDots"
               [dotColor]="dotColor"
               [showCaptions]="showCaptions"
               [captionColor]="captionColor"
               [captionBackground]="captionBackground"
               [lazyLoad]="lazyLoad"
               [hideOnNoSlides]="hideOnNoSlides">
    </slideshow>

    <div class="top">
      <a [ngx-scroll-to]="'#point0'">
        <span class="service-logo"></span>
      </a>
        <nav class="effect">
          <div class="category">

          <a [ngx-scroll-to]="'#point0'" class="scroll">Home</a>
          <a [ngx-scroll-to]="'#point1'" class="scroll">Why_Cloud Scan</a>
          <a [ngx-scroll-to]="'#point2'" class="scroll">Services</a>
          <a [ngx-scroll-to]="'#point3'" class="scroll">Supports</a>
          <a [ngx-scroll-to]="'#point4'" class="scroll">Customers</a>
          <a [ngx-scroll-to]="'#point5'" class="scroll">Contact</a>

            <button class="change_button" (click)="Language_exchange('en')"><img class="item" src="assets/imgs/united-states.png"> </button>
            <button class="change_button" (click)="Language_exchange('ko')"><img class="item" src="assets/imgs/south-korea.png"> </button>

          </div>
        </nav>
    </div>

    <a href = "https://211.252.84.52/login/login.html">
      <div class="btn hover4">
        {{'button'|translate}} |
        {{'button-1'|translate}}
      </div>
    </a>

    <div id="point1"></div>
       <div class="story-1">
    <div class="content-text">
      <h3>
        {{'line-1-1'|translate}}
        <br>
      </h3>
      <p>
        {{'line-1-2'|translate}}<br>
        {{'line-1-3'|translate}}<br>
        {{'line-1-4'|translate}}<br>
        {{'line-1-5'|translate}}<br>
        {{'line-1-6'|translate}}
      </p>

    </div>
    <div class="content-img">
      <img class="item" src="assets/imgs/content5.png" alt="phone2">
    </div>

  </div>

    <div id="point2"></div>
      <div class="story-2">

    <div class="content-img">
      <img class="item" src="assets/imgs/content6.png" alt="phone1">
    </div>
    <div class="content-text">

      <h3>
        {{'line-2-1'|translate}}<br>
      </h3>
      <p>
        {{'line-2-2'|translate}}<br>
        {{'line-2-3'|translate}}<br>
        {{'line-2-4'|translate}}<br>
        {{'line-2-5'|translate}}
      </p>
    </div>
  </div>

     <div class="story-3">
    <div class="content-text">
      <h3>
        {{'line-3-1'|translate}}
        <br>
      </h3>
      <p>
        {{'line-3-2'|translate}}<br>
        {{'line-3-3'|translate}}<br>
        {{'line-3-4'|translate}} <br>
        {{'line-3-5'|translate}}
      </p>

    </div>
    <div class="content-img">
      <img class="item" src="assets/imgs/content8.png" alt="phone2">
    </div>
  </div>
      <div id="point3"></div>

    <div class="story-4">

    <div class="content-text">
      <h3>
        {{'line-4-1'|translate}}<br>

      </h3>

      <h2>
        {{'line-4-2'|translate}}
      </h2>
        <br>

      <div class="content-img">
          <img class="item" src="assets/imgs/aim.png" >
        <br>
        <strong>{{'line-4-3'|translate}}</strong>
          <p>
            {{'line-4-4'|translate}}<br>
            {{'line-4-4-1'|translate}}
          </p>

        </div>

      <div class="content-img">
        <img class="item" src="assets/imgs/pie-chart.png" >
        <br>
          <strong>{{'line-4-5'|translate}}</strong>
          <p>
            {{'line-4-6'|translate}}<br>
            {{'line-4-6-1'|translate}}
          </p>

      </div>

      <div class="content-img">
        <img class="item" src="assets/imgs/chart.png" >
        <br>
        <strong>{{'line-4-7'|translate}}</strong>
        <p>
          {{'line-4-8'|translate}}<br>
          {{'line-4-9'|translate}}
        </p>

      </div>


      <br>

      <div class="content-img-1">
        <img class="item" src="assets/imgs/line.png" >
      </div>

      <div class="content-img-2">
        <img class="item" src="assets/imgs/cvp.png" >
      </div>

      <div class="content-text-2">

        <ul>
          <li>
            {{'line-4-10'|translate}}<br>
            {{'line-4-11'|translate}}<br>
            {{'line-4-12'|translate}}<br>
          </li>
          <br>
          <li>
          {{'line-4-13'|translate}}<br>
          {{'line-4-14'|translate}}<br>
          {{'line-4-15'|translate}}<br>
          {{'line-4-16'|translate}}<br>
          </li>
        </ul>
      </div>

    </div>

  </div>
      <div id="point4"></div>

    <div class="story-5">


    <div class="content-text">
      <h3>
        {{'line-5-1'|translate}} <br> {{'line-5-2'|translate}}
      </h3>

    </div>

    <div class="slide-container">
      <img  src="assets/imgs/samsung.png">
      <img  src="assets/imgs/ahnlab.png">
      <img  src="assets/imgs/secui.png">
      <img  src="assets/imgs/sk.png">
    </div>

    <a class="benefit" href="http://www.kosyas.com/html/intro/client.php" target="_blank">
            <span>
                {{'line-5-3'|translate}}
            </span>
      <img src="assets/imgs/home_arrow_24.png" >
    </a>
  </div>
      <div id="point5"></div>

   <div class="story-6">

    <div class="content-text">


      <h3>
        {{'line-6-1'|translate}}<br> {{'line-6-2'|translate}}
      </h3>
    </div>
    <div class="content-hr"></div>


      <a href = "https://docs.google.com/forms/d/1Bb1u7O2jHKFxC3v7Du30HtNddMl6Nfgx6UuuqPAbhE0/edit" target="_blank">
        <div class="submit-button hover4">
      {{'line-6-3'|translate}}
    </div>
      </a>

  </div>

   <footer class="footer">
    <div class="content-text">
      <div class="footer-01">
        <a href="#">{{'line-7-2'|translate}}</a>
        <span class="text-hr"></span>
        <a href="#">{{'line-7-3'|translate}}</a>
        <span class="text-hr"></span>
        <a href="#">{{'line-7-4'|translate}}</a>
        <span class="text-hr"></span>
        <a href="#">{{'line-7-5'|translate}}</a>
        <span class="text-hr"></span>
        <a href="#">{{'line-7-6'|translate}}</a>
      </div>

      <div class="footer-02">
        <span class="tel">{{'line-7-1'|translate}}   </span>
        <br>
          <small>Tel : 02-2097-9797 Fax : 02-2097-9777  |  Copyright © kosyas of Korea Corp. All rights reserved. </small>
      </div>

      <ul class="list-channel">

        <li>
          <a href="http://www.kosyas.com" target="_blank">
            <span class="home-logo"></span>
          </a>
        </li>

        <li>
          <a href="https://www.facebook.com/syas.ko.9" target="_blank">
            <span class="facebook-logo"></span>
          </a>
        </li>

        <li>
        <a href="https://www.youtube.com/channel/UCWTqH_v3iMOLke3Y3_DNz7A/featured?view_as=subscriber" target="_blank">
          <span class="youtube-logo"></span>
        </a>
      </li>



      </ul>
    </div>
  </footer>

   <div class="goup">
    <a [ngx-scroll-to]="'#point0'" class="scroll">
     <div> <img src="../assets/imgs/upload.png" ></div>
    </a>
  </div>

  </div>

</div>
